<div class="navbar">
  <div class="navbar-item">
    <div class="logo"><p>Blog For Fun</p></div>
  </div>
  <div class="navbar-item nav-menu">
    <div class="nav-menu"><a href="/home">Home</a></div>
    <div class="nav-menu"><a href="/create">Create</a></div>
    <div class="nav-menu"><a href="/contact">Contact Us</a></div>
    <div class="nav-menu"><a href="/about">About</a></div>
    <div class="nav-menu"><a href="/feedback">Feedback</a></div>
  </div>
</div>
