<%- include("partials/header.ejs") %>

<body class="LandingPage">
  <div class="overlay"></div>
  <%- include("partials/navbar.ejs")%>
  <div class="hero-text ">
    <div class="hero-text-items">
    <h1 class="caption">"Explore the World Through Our Eyes"</h1>
      <p class="paragraph">Explore the World Through Our Eyes" invites you to embark on a journey like no other. Through our vivid narratives and stunning visuals, we bring distant lands and cultures closer to you. Each story we share is a window into the heart of our adventures, from bustling cityscapes to serene natural wonders. Join us as we traverse the globe, uncovering hidden gems and experiencing local traditions firsthand. Our travel experiences are rich with discovery, excitement, and a deep appreciation for the diversity our world offers. Whether you’re an avid traveler or an armchair explorer, our blog promises to ignite your wanderlust and provide insightful tips for your own journeys. See the world through our lens, and let your imagination soar. Together, we'll uncover the beauty and wonder that await in every corner of the earth. Let's make every trip an unforgettable story. Embrace the adventure and start exploring today.</p>
      <button class="explore"><a href="/home">Explore</a></button>
      </div>
  </div>
</body>
</html>